@font-face {
    src: url('../../fuentes/gothamBold.otf');
    font-family: gotham;
}

* {
    list-style-type: none;
    font-family: gotham;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

section {
    min-height: 100%;
    padding-top: 15em;
    padding-bottom: 12em;
}

section.login {
    min-height: 100%;
    padding-top: 15em;
    padding-bottom: 15em;
}

div.contenedor {
    padding: 20px 40px;
    border-radius: 40px;
}

.centrado {
    text-align: center;
}

.separador {
    height: 0.4em;
    width: 100%;
    border-radius: 10px;
}

.separadorEntrenamiento {
    height: 3em;
    width: 0.5em;
    border-radius: 10px;
}

span:focus {
    outline: none;
}