/* BOTONES NORMALES */

button {
    color: white;
    /* pading */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    /* fondo */
    background-color: #79be7c;
    /* borde */
    border-radius: 18px;
    border: none;
    /* transición */
    transition-duration: 0.5s;
}

button:hover {
    background-color: #4eb26c;
}

button#playstore {
    border-radius: 100px;
}