a#marca {
    font-size: 26.25px;
}

li {
    height: 36px;
    font-size: 16.50px;
    /* padding */
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    /* margin */
    margin-left: 50px;
    border-radius: 18px;
    transition: 0.5s;
    background-color: #79be7c;
    /* borde */
    border: solid 2px #ffffff00;
}


/* si la pantalla es vertical pongo los margenes de los li a 0 */

@media screen and (orientation: portrait) {
    li {
        margin-left: 0px;
    }
}

li:hover {
    background-color: #4eb26c;
}

li#registrate {
    background-color: #ffffff00;
    border: solid 2px #ffffff;
}

li#registrate:hover {
    background-color: #79be7c;
    border: solid 2px #ffffff00;
}

#iconoMenu {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}