a#marca {
    font-size: 26.25px;
}

li.generico {
    text-align: center;
    height: 36px;
    font-size: 16.50px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    border: solid 2px #ffffff00;
    border-radius: 18px;
    transition: 0.5s;
    background-color: #79be7c;
}

li.logueado {
    margin: 5px 0px;
}

li.generico:hover {
    background-color: #4eb26c;
}

li.generico#contornoBlanco {
    background-color: #ffffff00;
    border: solid 2px #ffffff;
}

li.generico#contornoBlanco:hover {
    background-color: #79be7c;
    border: solid 2px #ffffff00;
}


/* para el menu exclusivo de secciones */

div#menuSecciones {
    position: fixed;
    /* este top esta relacionado con el tamaño del menu principal */
    top: 106px;
    left: 0px;
    width: 100%;
}

li.secciones {
    text-align: center;
    font-size: 16.50px;
    height: max-content;
    transition: 0.5s;
    background-color: #496e56;
}

li.secciones:hover {
    background-color: #3c5c47;
}

li.secciones a {
    line-height: 100%;
}

li.secciones.linkActual {
    background-color: #3c5c47;
}

.redimensionarLogo {
    font-size: 2rem;
}


/* Esto sirve para el menu deslogueado, ya que tiene dos estados  */

@media only screen and (max-width: 575px) {
    li.generico {
        margin: 5px 0px;
    }
}