.bgBlanco {
    background-color: white;
}

.bgVerde1 {
    background: #bfdaa0;
}

.bgVerde2 {
    background: #79be7c;
}

.bgVerde3 {
    background: #4eb26c;
}

.bgVerde4 {
    background: #296f41;
}

.bgVerde5 {
    background: #496e56;
}

.bgTrasparente {
    background: #ffffff00;
}